*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
h2{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
i{
    color: #2fccd0;
}

/* ********************NAVBAR********************* */
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,168,255,0.5),rgba(0,168,255,0.5)), url('../images/images-01.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0,100% 77%,50% 100%,0 75%,0 0);
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar::before{
    content: ""!important;
    position: absolute!important;
    top: 0%!important;
    left: 0%!important;
    z-index: -1!important;
    opacity: 0.3!important;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%)!important;
}
.container{
    width: 100%!important;
}
.container a{
    font-size: 1.8rem;
}
.nav-item a{
    color: white!important;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 20px!important;
    letter-spacing: 1px;
}
.nav-item a:hover{
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.center-div p{
    color: white!important;
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
}
.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #50d1c0;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* ************************EXTRA DIVS********************** */
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 80px 0;
}
.extra-div{
    text-align: center;
    background-color: white;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: .3s;
}
.extra-div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.extra-div h2 .service-div h2{
    font-size: 1.2rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

/* *********************OFFER SECTION********************* */
.serviceoffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.service-heading{
    margin-bottom: 30px;
}
.service-heading h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h2{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.8rem!important;
    margin-bottom: 35px!important;
}

/* **************PROJECT WORK**************** */
.headings p{
    margin-bottom: 30px;
}
.project-work{
    margin: 70px 0;
}
.project-work h1{
    font-size: 1.8rem;
    text-align: center;
}

/* ****************PRICING***************** */
.price-header{
    margin-bottom: 55px;
}
.pricing{
    width: 100%;
    height: auto;
    padding: 50px;
    position: relative;
    margin-bottom: 10px;
}
.pricing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(159deg, #1e5799 0%, #3ccdbb 0%, #16c9f6 55%, #fff 0);
}
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
    margin-bottom: 50px;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.mid-card{
    transform: translateY(-20px);
}
.mid-card:hover{
    transform: translateY(-40px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: white!important;
    padding: 25px 0px!important;
}

.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
}
.card-footer a:hover{
    color: white;
    background-color: #50d1c0;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card:hover .card-footer a{
    color: white;
    background-color: #50d1c0;
    text-decoration: none;
    cursor: pointer;
}

/* ****************CLIENTS***************** */
.client-header{
    margin-bottom: 20px;
}
.clients h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.clients{
    width: 100%;
    height: auto;
    padding: 40px 0;
    margin-bottom: 70px;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
    margin: 10px;
}
.box:hover{
    background-color: #16c9f6;
}
.box:hover p{
    color: white;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li{
    background-color: #16c9f6!important;
}
.box a{
    position: relative;
}
.box a::after{
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: 120%;
    left: 70%;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    background: linear-gradient(159deg, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}

/* ***********CONTACT************** */
.contact-header{
    margin-bottom: 15px;
}
.contact h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.contact p{
    margin-bottom: 30px;
}
.contact{
    width: 100%;
    height: auto;
    padding: 50px;
    position: relative;
    margin-bottom: 60px;
}
.contact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(150deg, #fff 45%, #16c9f6 0);
}
.sub-btn{
    border: none;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #16c9f6;
    background-color: #16c9f6;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
form:hover .sub-btn{
    color: #16c9f6;
    background: white;
    text-decoration: none;
    cursor: pointer;
}
.sub-btn:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
::placeholder{
    font-size: 0.85rem;
}

/* ************NEWSLETTER***************** */
.news-head{
    margin-bottom: 30px;
}
.news h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.news p{
    margin-bottom: 30px;
}
.news{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.news-input{
    border-radius: 100px 0 0 100px!important;
    width: auto;
    height: auto;
}
.input-group-text{
    color: white!important;
    background-color: #16c9f6!important;
    border-radius: 0px 100px 100px 0px!important;
    width: auto;
    height: auto;
}
.input-group-text:hover{
    cursor: pointer;
}

/* ************FOOTER***************** */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}
.footersection p{
    color: white;
    margin-bottom: 40px;
}
.footersection li a{
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}
.footersection h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
    font-size: 1.4rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#mybtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: white;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#mybtn:hover{
    background: #606060;
}

/* **************MEDIA QUERIES****************** */
@media(max-width:768px){
    .mob-size{
        font-size: 1.6rem;
    }
    .nav-item{
        text-align: center!important;
    }
    .nav-item a{
        font-size: 0.9rem;
    }
    .mob-cen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-work h1{
        font-size: 1.4rem;
        text-align: center;
    }
    .project-work p{
        font-size: 0.9rem;
        text-align: center;
    }
    .extra-div {
        padding: 25px!important;
    }
    .price-header {
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .pricing {
        padding: 25px;
    }
    .clients {
        margin-bottom: 80px;
        padding: 0px 0;
    }
    .contact {
        padding: 23px;
    }
    .box{
        padding: 26px;
    }
    .footersection p{
        text-align: center;
    }
    .footersection h3{
        text-align: center;
    }
    .mob-foot p{
        margin-bottom: 0;
    }
}